# Rename this file to nvlog.config and put into one of the two places:
#   * Next to the SystemProfiler binary.
#   * Into your current directory.

# Enable all loggers:
+ 50iw 50ef 0IW 0EF   global

# Append logs to a file:
$ SystemProfiler.log

# Flush the log file after every log message:
ForceFlush

# On Windows, use OutputDebugString():
OutputDebugString

# Log into stdout:
UseStdout

# Specify logging format:
# Simple format
# Format $time $tid $name $text

# A more verbose variant of logging format:
Format $sevc$time|${name:0}|${tid:5}|${file:0}:${line:0}[${sfunc:0}]: $text